.article-author {
  color: $color-red;
  margin-bottom: 0;
  padding-bottom: 0;
}
.article-title {
    margin-top: 0;
    padding-top: 0;
}
.article-content {
  border-top: solid 2px $color-gray--border;
}
