.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1020px;
    margin: 0 auto;
}

.header-nav {
  padding: 20px;
  display: inline-block;
  width: 100%;
  @include mq($from: large) {
    padding-left: 0;
  }
  &__link {
    padding-right: 20px;
    font-weight: $font-weight--bold;
    color:  $color-black;
    text-decoration: none;
    &--active {
      color:  $color-red;
    }
  }
}
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin: 15px 20px;
  padding: 0;
  height: 25px;
  border: none;
  z-index: 4;
  background: transparent;
  transition:all 100ms ease-in;
  svg {fill: $color-red;}

  &--open {
    transform: rotate(-135deg);
    transition:all 100ms ease-in;
    margin-right: 30px;
    svg { fill: $color-white; }
  }
  &:focus { outline: none; }
}

.mobile-overlay {
  width: 100%;
  position: fixed;
  height: 100vh;
  margin-top: 0;
  background: $color-black;
  transform: translateX(100%);
  transition:all 200ms ease-in;
  .mobile-nav {
    display: none;
  }

  &--open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-black;
    transform: translateX(0%);
    transition:all 200ms ease-in;

    .mobile-nav {
      display: inline-block;
    }
  }

  .mobile-nav {
    margin-bottom: auto;
    margin-top: 50px;

    &__list {
      padding: 0 40px;
    }
    ul {
      list-style: none;
      width: 100%;
    }
    li {
      padding: 20px 0;
      width: 100%;
    }
    &__link {
      padding: 10px;
      width: 100%;
      text-decoration: none;
      color: $color-white;
      font-size: $header--xl;
      font-weight: $font-weight--bold;
      &--active {
          border-bottom: $color-gray--border solid 1px;
          border-left: $color-red solid 5px;
          border-right: $color-red solid 5px;
          margin-left: -5px;
      }
    }
    .contact-link {
      margin-top: auto;
      align-self: flex-end;
      justify-content: flex-end;
      margin-top: 80px;
      a {
        font-size: $font-size--base;
        font-weight: $font-weight--normal;
        padding-left: 50px;
        align-self: flex-end;
        justify-content: flex-end;
        margin-top: auto;
        margin-bottom: 0;
      }
    }
  }
}

.hero-container {
  position: relative;
  width: 100%;
  height: 500px;
  max-height: 680px;
  z-index: -2;
  .hero {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    width: 100%;
    height: auto;
    max-height: 680px;
    &--fixed {
      background-attachment: fixed;
    }
    &--home {
      background-image: url("../images/oshc-journal-home.png");
      .header-container {
        @include mq($from: large) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: baseline;
          height: 500px;
        }
      }
      h2 {
        margin-top: 25vh;
      }
      @include mq($from: large) {
        h1, h2 {
          width: 200px;
          align-self: center;
          text-align: left;
          vertical-align: top;
          margin-top: 0;
        }
      }
    }
    &--mission {
      background-image: url("../images/sketch-box.png");
    }
  }
}
