body {
  font-family: $font-family-default;
  font-size: $font-size--base;
  line-height: $line-height--base;
  color: $color-black;
}

.text {
  &--red {
    color: $color-red;
  }
  &--red-light {
    color: $color-red--light;
  }
  &--white {
    color: $color-white;
  }
  &--bold {
    font-weight: $font-weight--bold;
  }
  &--center {
    text-align: center;
  }
  &--sm {
    font-size: $font-size--sm;
    line-height: 1rem;
  }
}

a {
  color: $color-red;
  text-decoration: none;
}

h1, h2, h3 {
  &.mobile-squish-sm {
    @include mq($until: medium) {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.mobile-squish-md {
    @include mq($until: medium) {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.header-xl {
    font-size: $header--xl;
    font-weight: $font-weight--bold;
    line-height: $line-height--xl;
  }
}
h1 {
  font-size: $header--xl;
  font-weight: $font-weight--bold;
  line-height: $line-height--xl;
}
h2 {
  font-size: $header--xl;
  font-weight: $font-weight--normal;
}
h3 {
  font-size: $header--sm;
  font-weight: $font-weight--bold;
}

ol {
  padding-left: 20px;
}
ul {
  padding-left: 0;
}
ul.no-ul {
  list-style: none;
  padding-left: 0;
}
