 $color-white: #fff;
 $color-black: #2B2B2B;
 $color-dark-blue: #06090D;
 $color-dark-purple: #00022D;
 $color-gray: #454545;
 $color-gray--dark: #414646;
 $color-gray--light: #F9F9FA;
 $color-gray--light-bg: #EBEFF2;
 $color-gray--border: #C4C4C4;
 $color-gray--border-light: #E1E1E1;
 $color-red: #BD3830;
 $color-red--light: #FF7970;

 $color-primary: $color-red;

 $dark-blue-gradient-linear-transparent: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(6,9,13,1) 30%, rgba(6,9,13,1) 100%);
 $text-radial-gradient: radial-gradient(ellipse at center, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 70%);

 .background {
   &--gray-dark {
     background: $color-gray--dark;
   }
   &--gray-light {
     background: $color-gray--light-bg;
   }
   &--gray-white {
     background: $color-white;
   }
   &--dark-purple {
      background: $color-dark-purple;
      color: $color-white;
   }
   &--dark-gradient-linear {
     background: linear-gradient(to bottom, #ffffff 0%,#4f5050 35%,#242929 99%);
     color: $color-white;
   }
   &--dark-gradient-radial {
     background: radial-gradient(ellipse at center, #383c3c 9%,#1d1d1d 75%);
     color: $color-white;
   }
   &--white-gradient-linear {
     background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
   }
   &--transparent {
     background: transparent;
   }
    &--dark-gradient-linear-transparent {
     background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(84,84,84,1) 29%,rgba(78,78,78,1) 30%,rgba(36,42,42,1) 88%,rgba(36,42,42,1) 100%);
   }
   &--dark-blue-gradient-linear-transparent {
    background: $dark-blue-gradient-linear-transparent;
  }
 }
