 $color-white: #fff;
 $color-black: #2B2B2B;
 $color-gray: #454545;
 $color-gray--dark: #414646;
 $color-gray--light: #F9F9FA;
 $color-gray--light-bg: #EBEFF2;
 $color-gray--border: #C4C4C4;
 $color-gray--border-light: #E1E1E1;
 $color-red: #BD3830;
 $color-red--light: #FF7970;

 $color-primary: $color-red;

 .background {
   &--gray-dark {
     background: $color-gray--dark;
   }
   &--gray-light {
     background: $color-gray--light-bg;
   }
   &--gray-white {
     background: $color-white;
   }
   &--dark-gradient-linear {
     background: linear-gradient(to bottom, #ffffff 0%,#4f5050 35%,#242929 99%);
     color: $color-white;
   }
   &--dark-gradient-radial {
     background: radial-gradient(ellipse at center, #383c3c 9%,#1d1d1d 75%);
     color: $color-white;
   }
   &--white-gradient-linear {
     background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
   }
 }
