$font-size--base: 18px;
$font-size--sm: 14px;

$font-weight--normal: 400;
$font-weight--bold: 600;

$line-height--base: 1.625rem;
$line-height--xl: 2.25rem;

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: $font-weight--normal;
  font-style: normal;
}

$font-family-default: 'Poppins', Helvetica, Arial, sans-serif;

$header--xl: 24px;
$header--sm: 18px;
